body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(213, 76, 222, 0.8519782913165266) 52%,
    rgba(154, 0, 255, 0.6054796918767507) 78%
  );
}

button {
  cursor: pointer;
}
